* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #1d1525;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}

a {
  color: #ff4a4b;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  opacity: 0.6;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  font-size: 12px;
  letter-spacing: 3px;
  margin-left: 30px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 30px;
  height: 2px;
  background: #ff4a4b;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 5vh;
    right: 0;
    width: 50vw;
    height: 95vh;
    background: #1d1525;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

main {
  background: url(img/main-bg.jpg) no-repeat center center;
  background-size: cover;
  background-color: rgb(25, 12, 37);
  height: 95vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.post-content {
  background-color: #231a2d;
  max-width: 400px;
  width: 60vw;
  height: 150px;
  align-self: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 5%;
  border-color: #ff4a4b;
  border-style: double;
}

#hi {
  margin-left: 3vw;
  font-weight: lighter;
  color: #c7c7c7;
}

#name {
  margin-left: 3vw;
  color: #67e0bc;
}

#webdev {
  margin-left: 3vw;
  font-size: 14px;
  color: #ff4a4b;
}

#hire {
  align-self: center;
  padding: 7px;
  font-size: small;
  font-weight: bolder;
  color: #f7f7f7;
  background-color: #ff4a4b;
  border-radius: 5%;
}